/* ---------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}
/* ここまでコピペ */

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #543924;
    width: 266px;
    height: 100vh;
    padding: 64px 0;
    position: fixed;
    top: 0;
    left: 0;
}

.header__logo {
    width: 120px;
}

.navigation {
    display: flex;
    flex-flow: column;
    row-gap: 40px;
}

.navigation__list {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.navigation__list:hover{
    color: #291C11;
}

.sns {
    display: flex;
    column-gap: 40px;
}

.sns__img {
    width: 40px;
}

.content {
    padding-left: 266px;
}

.main-visual {
    background: url(../img/photo01.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.section {
    padding: 120px 0;
}

.section__title {
    color: #543924;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 56px;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.menu__img {
    width: 284px;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.information {
    background-color: #E8DACF;
}

.blog-container {
    max-width: 900px;
    margin: 0 auto;
}

.blog {
    display: flex;
    margin: 32px 0;
}

.blog__img {
    margin-right: 16px;
    width: 180px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.blog__date {
    display: block;
    color: #6A6A6A;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.blog__text {
    color: #1D1D1D;
    font-size: 16px;
    line-height: 1.5;
}

.shop {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

.shop__img {
    width: 420px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.shop-info {
    background-color: #291C11;
    color: #FFFFFF;
    padding: 40px 46px;
}

.shop__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.shop__time {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.shop__address {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;

}

iframe {
    width: 388px;
    height: 259px;
}

.footer {
    background-color: #291C11;
    width: 100%;
    height: 64px;
}

.copyright {
    color: #FFFFFF;
    text-align: center;
    line-height: 64px;
}